# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
simulation
diagnoses

# Vim swap file
.*.swp

# Doc temp files
**/*.aux
**/*.fdb_latexmk
**/*.fls
**/*.glo
**/*.idx
**/*.ilg
**/*.ind
**/*.ist
**/*.log
**/*.mmd
**/*.pdf
**/*.tex
**/*.toc

# Instance files
./instances/*
